<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myfreefunctionsapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4ff438d8-90f0-447c-a527-cc81a73bd85b/resourceGroups/rg_functionsapp/providers/Microsoft.Web/sites/myfreefunctionsapp</ResourceId>
    <UserName>$myfreefunctionsapp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://myfreefunctionsapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>